.bg-fixed{
    color: aliceblue;
    background-image: url('minion-bg.jpg');
    background-attachment: fixed;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}

.minion-form{
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    margin: auto;
    margin-top: 10%;
    width: 100%;
    max-width: 40rem;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.568);
}

.header{
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
}

.input-area{
    
    font-family: 'Hind', sans-serif;
    width: auto;
    /* border: solid #cccccc; */
    padding: 5px;
    margin: auto;
    
}

.button-area{
    font-family: 'Hind', sans-serif;
    width: auto;
    height: auto;
    margin: auto;
}

.translate-button{
    border-radius: 2rem;
    background-color: #FFCC66;
    border: none;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    color:rgba(0, 0, 0, 0.651);
    min-width: 8rem;
    text-align: center;
    text-decoration: none;
}
.translate-button:hover{
    opacity: 0.9;
}

.output-area{
    font-family: 'Hind', sans-serif;
    margin: auto;
    font-size: x-large;
}